html-component-boxedlist, html-component-boxedorderlist {
  @each $name, $components in $colors {
    $color: nth($components, 1);
    $color-invert: nth($components, 2);
    &[color=#{$name}] li.is-hover {
      background-color: bulmaDarken($color, 5%);
      color: $color-invert;
    }
  }
}
